@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <div>
        <div>
            <strong>CEO and Founder</strong>
        </div>
        Bigyan Chapagain
        <br>
        bigyanchapagain@gmail.com
        <br>
        Phone: +977-9841057567
        <br>
        Skype: bigyan.chapagain

    </div>
</address>