@{
    ViewBag.Title = "IoX Prime Home Page";
}

<div class="jumbotron">
    <h1>IoX Prime</h1>
    <p class="lead">Welcome to IoX Prime.</p>

</div>

<div>
    <p>IoX Prime develops hardware and software services for Internet of Things. </p>
    <p>
        As mentioned in our <span>Privacy Policy</span> we are highly sensitive about our user's data privacy. As our top management
        loudly and proudly states:
        <blockquote>
            IoX Prime will never sell your data to any third parties nor will we ever compromise your data by any means.<br />
            The only thing we do with your data is to further improve our own services.
        </blockquote>
    </p>
    <p>We are highly dedicated towards continuously improving our services. Therefore, please do stay with us.</p>
    <p>By Signing up to our services, you are accepting to our <span>Terms and Conditions</span>.</p>
</div>