
@{
    ViewBag.Title = "Privacy Policy";
}
<p><strong>Privacy Policy </strong><span style="font-weight: 400;">(compliance with EU GDPR):</span></p>
<p>&nbsp;</p>
<ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">IoX Prime makes money by selling Software Services to Enterprises and also by selling our flagship hardware products. That means, we do </span><span style="font-weight: 400;">NOT</span><span style="font-weight: 400;"> need to and will </span><span style="font-weight: 400;">NEVER sell your data & credentials to third parties.</span><span style="font-weight: 400;"> What we do with data collected from you is we use your data to provide more efficient service over the time by employing Machine Learning and Artificial Intelligence. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">We strongly believe in playing really really safe game where relationships with our customers are built by sense of Trust: We clearly and unequivocally mention our Data related intents here so that our users can feel safe with us.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">At times, we may show you Advertisements best upon your preferences we notice although this is not how we want to roll. So far possible, we shall try hard not display Advertisements for you. (That is, as far as we are making enough sales by selling our hardware products, we won't show you the Advertisements.) </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">In case any hackers tries to compromise our system -- although hacking is almost impossible thing to do because of our vast security protocols -- we will immediately report it to police as soon as we come to know about such incidents. Depending upon severity, we will let our users know what's-going-on; we let users know via notifications or an email or both.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">If you notice any kind of violations please do @Html.ActionLink("Contact us", "Contact", "Home") and let us know so that we can take action immediately.</span></li>
</ol>
