
@{
    ViewBag.Title = "Terms & Conditions";
}
<p><strong>Terms and Conditions</strong></p>
<p>&nbsp;</p>
<p><strong>IoX Prime</strong><span style="font-weight: 400;"> is an Internet of Things(IoT) company that is thriving to provide high quality, highly scalable IoT solutions to the world. We want our users to get connected to our one (going to be colossal) network and empower our end users to be more like Tony Stark character of Iron Man movie. By being stakeholder to our product you agree to abide by our Terms and Conditions which are as follows.</span></p>
<p>&nbsp;</p>
<p><strong>For Developers and Partners</strong></p>
<ol>
    <li style="font-weight: 400;"><strong>Freemium</strong><span style="font-weight: 400;">: IoX Prime's software solutions operates in Freemium Business Model: Even though it is free for a developer or an Engineer or a Hobbyist or any other Individual to use our Service, it is not free for Companies and Organizations because these companies use our Services in profusion; Companies and Organizations are expected to make a deal with IoX Prime as they decide to use our Service. Organizations and Companies who fail to make a deal and still use our Service are susceptible to Legal Actions(Those who fail to make deal may or may not get a warning notice prior to litigation).</span></li>
    <li style="font-weight: 400;"><strong>Pricing for Factories</strong><span style="font-weight: 400;">: Pricing for industry's factory floor and factory's end product will be different. Parties who want to use our service should confirm prices with our recipients.</span></li>
    <li style="font-weight: 400;"><strong>Security</strong><span style="font-weight: 400;">: Although we have world class security technology embedded in to our products and services, by Signing Up to our service, you agree not to hack or crack in to our systems or even try to do so. If any person or organization or any other group of people are found to hack in to our system, then they are susceptible to severe criminal charges; also, based upon the loss incurred by the hackers, they agree to pay the fine equivalent to the loss along with other criminal charges.</span></li>
    <li style="font-weight: 400;"><strong>Control</strong><span style="font-weight: 400;">: While building a product or integrating our services to your product, as per the interest of best user experience, so far possible, the local control should be of higher priority than remote control.</span></li>
    <li style="font-weight: 400;"><strong>Electrical Connection Error made by end-users' developer(s)</strong><span style="font-weight: 400;">: You as an end-user understand that we are not responsible for the damages caused by your own inaccurate electrical connections and setups made by your own Developer(s) or Engineer(s) or both. It is responsibility of your developers or engineers or both to provide you correct setups and connection. (Developers or engineers or both should look at our Demos and Documentation to get started.) </span></li>
</ol>
<p>&nbsp;</p>
<p><strong>Sexually Explicit Contents and Age Limit</strong></p>
<p><span style="font-weight: 400;">IoX Prime is </span><span style="font-weight: 400;">NOT</span><span style="font-weight: 400;"> a company for photo or video sharing. Having said that, it is possible to do remote viewing via security camera in an acceptable manner which can be built over our platform. It is the sole responsibility of security camera installer to maintain the required privacy. We are not responsible for the inappropriately installed security cameras. In spite of all those facts, slanderous, bad actor(s) may still find a way to use our platform to capture Sexually Explicit Video or Image(s). Therefore, considering the Children's Online Privacy Protection Act (COPPA 1998), by Signing Up to our service, you confirm that you are more than 13 years old.</span></p>
