@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <nav class="navbar">
            <ul class="navbar-nav btn-group">
                <li class="nav-item">
                    @*@Html.ActionLink("My Account", "Index", "Manage", routeValues: null,
        htmlAttributes: new { title = "Manage", @class = " gradient-blue" })&nbsp;&nbsp;&nbsp;*@
                    <a class=" gradient-blue" href="/Manage" title="Manage">&nbsp;My Account&nbsp;</a>&nbsp;&nbsp;
                </li>
                <li class="nav-item">
                    <a href="javascript:document.getElementById('logoutForm').submit()" 
                       class="gradient-gray">
                        &nbsp;Log out&nbsp;
                    </a>
                </li>
            </ul>
        </nav>
    }
}
else
{
    <nav class="btn-group">
        <a href="@Url.Action("Register", "Account")" class="btn gradient-blue"><i class="fa fa-book">&nbsp;Register</i></a>
        <a href="@Url.Action("Login", "Account")" class="btn gradient-green"><i class="fa fa-cog">&nbsp;Log in</i></a>
    </nav>
}
